/* COLORS
- ABFFDB rgb(171, 255, 219)- light green
- A79AFF rgb(167, 154, 255)- light purple
- FFE99A rob(255, 233, 154)- light yellow
- FF9393 rgb(255, 147, 147)- light pink
- 93FFD6 rgb(147, 255, 214)- med turquoise
- 93E1FF rgb(147, 225, 255) - med blue
- 8BFFCD rgb(139, 255, 205) - med green

FONT
- font-family: Cern,Helvetica,Arial,sans-serif */

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(157, 97, 255);
}

a:hover {
  color: #59ea94;
}

label {
  display: block;
}

h6 {
  font-size: 1.3rem;
}

img {
  width: 7%;
  height: 7%;
}

form div {
  margin: 1rem;
  display: inline-block;
}

#mce-EMAIL {
  width: 400px;
}
/*
#emailIFrame {
  display: none !important;
} */

.Link {
  all: initial;
  all: unset;
}

.space {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.space-btw {
  justify-content: space-between;
}

.space-around {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-too-big {
  flex-basis: 70%;
}

.link {
  color: #8affc1;
}

.top {
  margin-top: 3rem;
}

.left {
  margin-left: 5rem;
}

.right {
  margin-right: 5rem;
}

.bottom {
  margin-bottom: 4rem;
}

.sml-bottom {
  margin-bottom: 2rem;
}

.explainer {
  text-align: center;
  /* font-style: italic; */
  font-weight: 700;
}

/* ALL HEDGE FUNDS STYLING */
select {
  border-radius: 8px;
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);
}

select:hover {
  background: black;
  cursor: pointer;
  color: #59ea94;
}

.hedgeFundsContainer {
  display: flex;
  flex-direction: column;
  width: 750px;
  border-radius: 15px;
}

.singleHedgeFundContainer {
  display: flex;
  height: 15%;
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);
  margin-bottom: 4px;
  font-size: 6px;
}

.singleHedgeFundContainer:hover {
  background-color: black;
  cursor: pointer;
  color: #59ea94;
}

.hedgeFundName {
  width: 45%;
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.hedgeFundName p {
  font-size: 13px;
  margin-top: 12px;
}

.hedgeFundHog {
  height: 32px;
  width: 32px;
  padding: 0px;
  margin: 0px;
}

.hedgeFundReturnsContainer {
  display: flex;
  width: 50%;
  padding: 0px;
}

.hedgeFundReturnsContainer p {
  padding-top: 8px;
  font-size: 8px;
}

.hedgeFundReturnsContainer .assetsReturn {
  padding-top: 8px;
  font-size: 8px;
}

.singleReturnContainer {
  flex-wrap: wrap;
  display: flex;
  padding: 6px 0px 0px 0px;
  align-items: center;
  width: 85px;
}

.yearReturnLabel p {
  font-size: 11px;
  margin-right: 3px;
  color: rgb(157, 97, 255);
}

/* VICTORY LINE CHART STYLING */
/* .lineChart {
  width: 850px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
} */

/* HOG BASKET STYLING */
.basket-hog {
  width: 150px;
  height: 150px;
}

.text {
  color: rgb(157, 97, 255);
}

.button1 {
  background-color: rgb(157, 97, 255);
  color: black;
  border: 2px solid #59ea94;
  border-radius: 15px;
}

.table {
  border: 1px solid black;
  border-radius: 15px;
}
input {
  border: 2px solid #59ea94;
  border-radius: 4px;
}

.header {
  border: 2px solid rgb(157, 97, 255);
  border-radius: 15px;
}

.text-center {
  text-align: center;
}

/* Pages Styling */
.pages-container {
  display: flex;
  justify-content: center;
}

#page-numbers {
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
}

#page-numbers:hover {
  background-color: #f7f7f7;
}

.numbers {
  display: flex;
  justify-content: center;
}

.active {
  color: #59ea94;
}

.number {
  padding: 5px;
  margin: 3px;
  cursor: pointer;
}

#page-numbers {
  padding: 5px;
}

/* what to buy table styling */
.form {
  border: 2px solid rgb(157, 97, 255);
  border-radius: 15px;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table {
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 100%;
}

td,
th {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.paddingThree {
  padding-top: 25px;
}

/* mobile 400px and less
@media screen and (max-width: 480px) {
  .mobile {
    width: 58%;
    justify-content: center;
  }
  .text,
  .center-h3 {
    text-align: center;
  }
  .hedgeFundReturnContainer {
    align-items: justify;
  }
} */

/* PIE STYLING */
.pie-title {
  padding-top: 14px;
}

.pie-chart {
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);
}

/* Navbar */

#nav-bar {
  border-bottom: solid lightgray 1px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  display: flex;
  z-index: 1000;
}

#Nav-Logo {
  /* height: 90%; */
  width: 200px;
  /* padding: 1.5px;
  margin: 1.5px; */
  margin-right: 100px;
  /* padding-bottom: 20px; */
  transition: all 0.2s ease-in-out;
}

#nav-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 6px;
}

#Nav-Logo:hover {
  transform: scale(1.05);
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.nav-bar-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  width: 190px;
  margin-top: 5px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.all-hedgefunds-page {
  display: flex;
  margin-top: 110px;
}

.single-hedgefunds-page {
  margin-top: 110px;
}

#left-half-hedgefunds-page {
  display: flex;
  left: 0;
  width: 70%;
  margin-left: 30px;
}

#right-half-hedgefunds-page {
  right: 0;
  width: 30%;
  margin-right: 30px;
}

.nav-bar-link:hover {
  text-decoration: none;
  transform: scale(1.1);
}
/* nav a {
  display: inline-block;
  margin: 1rem;
  color: #59ea94;
}

nav a:hover {
  color: rgb(157, 97, 255);
} */

/*
.geeks {
  width: 0px;
  height: 5px;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.geeks::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  height: 100%;
  background: yellow;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
} */

/* #growth {
 ...
 overflow-y: scroll;
} */
