body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1rem;
  color: #59ea94;
}

nav a:hover {
  color: rgb(157, 97, 255);
}

img {
  width: 7%;
  height: 7%;
}

form div {
  margin: 1rem;
  display: inline-block;
}

.space {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.space-btw {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-too-big {
  flex-basis: 70%;
}

.link {
  color: #8affc1;
}

.top {
  margin-top: 3rem;
}

.left {
  margin-left: 5rem;
}

.right {
  margin-right: 5rem;
}

.bottom {
  margin-bottom: 4rem;
}

.sml-bottom {
  margin-bottom: 2rem;
}

/* ALL HEDGE FUNDS STYLING */
select {
  border-radius: 8px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);
}

.hedgeFundsContainer {
  display: flex;
  flex-direction: column;
  width: 650px;
  border-radius: 15px;
}

.singleHedgeFundContainer {
  border: solid 1px black;
  display: flex;
  height: 39px;
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);
}

.singleHedgeFundContainer:hover {
  background-color: #acacac;
  cursor: pointer;
  color: #59ea94;
}

.hedgeFundName {
  width: 70%;
  display: flex;
}

.hedgeFundName p {
  font-size: 15px;
  padding: 6px 5px 5px 5px;
}

.hedgeFundHog {
  height: 32px;
  width: 32px;
  padding: 0px;
  margin: 0px;
}

.hedgeFundReturnsContainer {
  display: flex;
  width: 50%;
  padding: 0px;
}

.hedgeFundReturnsContainer p {
  padding-top: 8px;
  font-size: 8px;
}

.hedgeFundReturnsContainer .assetsReturn {
  padding-top: 8px;
  font-size: 8px;
}

.singleReturnContainer {
  display: flex;
  padding: 6px 0px 0px 0px;
  align-items: center;
  width: 85px;
}

.yearReturnNumber p {
  font-size: 12px;
  padding-left: 5px;
}

.yearReturnLabel p {
  font-size: 11px;
  margin-right: 3px;
  color: rgb(157, 97, 255);
}

/* VICTORY LINE CHART STYLING */
.lineChart {
  width: 450px;
  height: 350px;
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);
}

/* HOG BASKET STYLING */
.basket-hog {
  width: 150px;
  height: 150px;
}

/* WHAT TO BUY STYLING */
/* .what-to-buy {
  width: 40%;
  height: 100%;
  padding-left: 100px;
} */

.text {
  color: rgb(157, 97, 255);
}

.button1 {
  background-color: rgb(157, 97, 255);
  color: black;
  border: 2px solid #59ea94;
  border-radius: 15px;
}

.table {
  border: 1px solid black;
  border-radius: 15px;
}
input {
  border: 2px solid #59ea94;
  border-radius: 4px;
}

.header {
  border: 2px solid rgb(157, 97, 255);
  border-radius: 15px;
}

.form-border {
  border: 2px solid rgb(157, 97, 255);
  border-radius: 15px;
  padding: 8px;
  margin: 20% 20% 5% 20%;
}
