body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #8affc1;
}

img {
  width: 7%;
  height: 7%;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex-cont {
  display: flex;
  justify-content: center;
}

.link {
  color: #8affc1;
}
